<aside class="explorer-aside">
  <p class="explorer-aside-subitem">EXPLORER</p>

  <nav class="explorer-aside-nav"> 
    <div class="explorer-aside-checkbox-customization">
      <input type="checkbox" id="explorer-aside-checkbox">
      
      <label class="explorer-aside-checkbox-label" for="explorer-aside-checkbox">
        <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="Explorer_chevron__PFE0_ rotate rotate2">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.072 8.024L5.715 3.667l.618-.62L11 7.716v.618L6.333 13l-.618-.619 4.357-4.357z">
          </path>
        </svg>
        Portfólio
      </label>

      <ul class="port-explorer-ul">
        <li class="port-explorer-li"><a href="/">home.html</a></li>
        <li class="port-explorer-li"><a href="/sobre">sobre.css</a></li>
        <li class="port-explorer-li">projetos.ts</li>
        <li class="port-explorer-li">contato.json</li>
        <li class="port-explorer-li">github.js</li>
      </ul>
    </div>
  </nav>
</aside>
