<aside class="explorer-aside">
  <p class="explorer-aside-subitem">EXPLORER</p>

  <nav class="explorer-aside-nav"> 
    <div class="explorer-aside-checkbox-customization">
      <input type="checkbox" id="explorer-aside-checkbox">
      
      <label class="explorer-aside-checkbox-label" for="explorer-aside-checkbox">
        <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="Explorer_chevron__PFE0_ rotate rotate2">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.072 8.024L5.715 3.667l.618-.62L11 7.716v.618L6.333 13l-.618-.619 4.357-4.357z">
          </path>
        </svg>
        Portfólio
      </label>
      
      <ul class="port-explorer-ul">
        <a href="/"><li class="port-explorer-li"><span class="icon-img"><img src="../../../../../assets/img/html.png" alt="Icone HTML"></span>home.html</li></a>
        <a href="/sobre"><li class="port-explorer-li"><span class="icon-img"><img src="../../../../../assets/img/css-3.png" alt="Icone CSS"></span>sobre.css</li></a>
        <a href="/projects"><li class="port-explorer-li"><span class="icon-img"><img src="../../../../../assets/img/typescript.png" alt="Icone TypeScript"></span>projetos.ts</li></a>
        <a href="/contact"><li class="port-explorer-li"><span class="icon-img"><img src="../../../../../assets/img/js.png" alt="Icone JavaScript"></span>contato.js</li></a>
        <a href="/github"><li class="port-explorer-li"><span class="icon-img"><img style="width: 16px; height: 16px;" src="../../../../../assets/img/json.svg" alt="Icone Json"></span>github.json</li></a>
      </ul>
    </div>
  </nav>
</aside>
