@import "../../../../../dist/scss/variables.scss";

.explorer-aside {
  display: flex;
  flex-direction: column;
  float: left;
  height: 100%;
  width: 10vw;
  color: var(--eighth-color);
  background-color: var(--secound-color);

  .explorer-aside-subitem {
    padding: 8px 0px 8px 21.5px;
  }

  .explorer-aside-nav {
    background-color: var(--secound-color);

    .port-explorer-ul {
      padding: 0px 0px 0px 21.5px;

      .port-explorer-li {
        padding: 5px 0px 0px 0px;
      }
    }
  }

  .explorer-aside-checkbox-customization {
    display: flex;
    flex-direction: column;

    .explorer-aside-checkbox-label {
      display: flex;
      padding: 5px 0px 5px 5px;
      align-items: center;
      background-color: var(--first-color);
      text-transform: uppercase;
      cursor: pointer;
    }

    #explorer-aside-checkbox {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      ~.explorer-aside-checkbox-label>.rotate {
        rotate: 90deg;
        transition: .2s ease-in-out;
      }

      ~.port-explorer-ul {
        display: block;

        .port-explorer-li {
          font-family: Source Sans Pro, sans-serif;

          a {
            text-decoration: none;
            color: var(--eighth-color);
          }
        }
      }

    }

    #explorer-aside-checkbox:checked {

      ~.explorer-aside-checkbox-label>.rotate {
        transform: rotate(-90deg);
      }

      ~.port-explorer-ul {
        display: none;
      }
    }
  }
}

@media (max-width: 1090px) {
  .explorer-aside {
    display: none;
  }
}