@import "../../../../../dist/scss/variables.scss";

.explorer-aside {
  display: flex;
  flex-direction: column;
  float: left;
  height: $width;
  color: var(--eighth-color);
  background-color: var(--secound-color);

  .explorer-aside-nav {
    background-color: var(--secound-color);
    height: 100vh;
  
    .explorer-aside-title {
      background-color: var(--first-color);
    }
  }

  .explorer-aside-checkbox-customization{
    display: flex;
    flex-direction: column;

    .explorer-aside-checkbox-label{
      display: flex;
      align-items: center;
      background-color: var(--third-color);
      text-transform: uppercase;
      cursor: pointer;
  }

    #explorer-aside-checkbox {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      ~ .explorer-aside-checkbox-label > .rotate {
        rotate: 90deg;
        transition: .2s ease-in-out;
      }

      ~ .port-explorer-ul{     
          display: block;
      }

    }
  
    #explorer-aside-checkbox:checked {

      ~ .explorer-aside-checkbox-label > .rotate {
        /*animation: rotate .2s ease-in-out both;*/
        transform: rotate(-90deg);
      }

      ~ .port-explorer-ul{     
        display: none;
      }
    }
  }
}