.header-section {
  background-color: var(--first-color);
  display: flex;

  .vscode-icon {
    width: 30px;
    height: 30px;
  }

  .header-ul {
    display: flex;

    .header-li {
      color: var(--eighth-color);
      list-style: none;
      margin: 10px;
    }
  }

}