<section class="header-section">

  <img class="vscode-icon" src="../../../../../assets/img/vscode-icon.png" alt="vscode icon">
  
  <nav class="header-nav">
    <ul class="header-ul">
      <li class="header-li">File</li>
      <li class="header-li">Edit</li>
      <li class="header-li">Selection</li>
      <li class="header-li">View</li>
      <li class="header-li">Go</li>
      <li class="header-li">Run</li>
      <li class="header-li">Terminal</li>
      <li class="header-li">Help</li>
    </ul>
  </nav>

  <div class="header-h1">
    <h1>Bruno Passos</h1>
  </div>

  <div class="header-icons">
    <span class="header-icons-span"></span>
    <span class="header-icons-span1"></span>
    <span class="header-icons-span2"></span>
  </div>
</section>