<nav class="breadcrumb">
  <ul class="breadcrumb-ul">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="breadcrumb-ul-li">
      <a routerLink="/" routerLinkActive="active-a" class="breadcrumb-ul-li-a">
        <span class="icon-img"><img src="../../../../../assets/img/html.png" alt="Icone HTML"></span>
        <p>home.html</p>
      </a>
    </li>
    <li routerLinkActive="active" class="breadcrumb-ul-li">
      <a routerLink="/sobre" routerLinkActive="active-a" class="breadcrumb-ul-li-a">
        <span class="icon-img"><img src="../../../../../assets/img/css-3.png" alt="Icone CSS"></span>
        <p>sobre.css</p>
      </a>
    </li>
    <li routerLinkActive="active" class="breadcrumb-ul-li">
      <a routerLink="/projects" routerLinkActive="active-a" class="breadcrumb-ul-li-a">
        <span class="icon-img"><img src="../../../../../assets/img/typescript.png" alt="Icone TypeScript"></span>
        <p>projectos.ts</p>
      </a>
    </li>
    <li routerLinkActive="active" class="breadcrumb-ul-li">
      <a routerLink="/contact" routerLinkActive="active-a" class="breadcrumb-ul-li-a">
        <span class="icon-img"><img src="../../../../../assets/img/js.png" alt="Icone JavaScript"></span>
        <p>contato.js</p>
      </a>
    </li>
    <li routerLinkActive="active" class="breadcrumb-ul-li">
      <a routerLink="/github" routerLinkActive="active-a" class="breadcrumb-ul-li-a">
        <span class="icon-img"><img style="width: 16px; height: 16px;" src="../../../../../assets/img/json.svg"
            alt="Icone Json"></span>
        <p>github.json</p>
      </a>
    </li>
  </ul>
</nav>