<section class="main">
  <section class="main-card">
    <div class="main-card-div">
      <img class="main-card-div-img" src="../../../../../assets/img/wordpress-logo.png" alt="Imagem do projeto"> 
      <div class="main-card-div-body">
        <h5>Teste</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique alias ex accusamus libero velit ea amet iusto vel aperiam ullam perspiciatis labore sequi corrupti beatae, qui quis molestias ab! Officia impedit illum omnis quia itaque provident ipsum placeat corrupti laborum deleniti, quod maxime voluptas tempora, sit sint vero nesciunt explicabo?</p>
        <a href="#">Teste</a>
      </div>
    </div>

    <div class="main-card-div">
      <img class="main-card-div-img" src="../../../../../assets/img/wordpress-logo.png" alt="Imagem do projeto"> 
      <div class="main-card-div-body">
        <h5>Teste</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique alias ex accusamus libero velit ea amet iusto vel aperiam ullam perspiciatis labore sequi corrupti beatae, qui quis molestias ab! Officia impedit illum omnis quia itaque provident ipsum placeat corrupti laborum deleniti, quod maxime voluptas tempora, sit sint vero nesciunt explicabo?</p>
        <a href="#">Teste</a>
      </div>
    </div>

    <div class="main-card-div">
      <img class="main-card-div-img" src="../../../../../assets/img/wordpress-logo.png" alt="Imagem do projeto"> 
      <div class="main-card-div-body">
        <h5>Teste</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique alias ex accusamus libero velit ea amet iusto vel aperiam ullam perspiciatis labore sequi corrupti beatae, qui quis molestias ab! Officia impedit illum omnis quia itaque provident ipsum placeat corrupti laborum deleniti, quod maxime voluptas tempora, sit sint vero nesciunt explicabo?</p>
        <a href="#">Teste</a>
      </div>
    </div>
  </section>
</section>