@import "../../../../../dist/scss/variables.scss";
.main {
  display: flex;
  flex-direction: column;
  background-color: var(--first-color);

  .main-screen-breadcrumb {
    .breadcrumb {
      display: flex;
      padding: 8px 0px 8px 0px;
      color: var(--sixth-color);
      background-color: var(--secound-color);
    }
  }
  
  .main-screen {
    height: calc($width - 32px);
  
    .main-screen-p {
      color: white;
    }
  }

}