<section class="main">
  <article class="main-about">
    <h1 class="main-about-h1">.um pouco sobre mim</h1>
    <p class="main-about-p">Em formação na área de desenvolvimento FrontEnd que tanto me apaixonei, estudando com muito carinho 
      e dedicação para melhorar e sempre aprender mais sobre as tecnologias envolvidas. Como toda a base da interface da Web é voltada para HTML, 
      CSS e JavaScript, me possibilitando desenvolver muitas áreas de conhecimento e raciocínio lógico.
    </p>
  </article>

  <section class="main-skills">
    <h2 class="main-skills-h2">.habilidades</h2>
    <ul class="main-skills-ul">
      <li class="main-skills-ul-li">HTML</li>
      <li class="main-skills-ul-li">CSS</li>
      <li class="main-skills-ul-li">JavaScript</li>
      <li class="main-skills-ul-li">Angular</li>
      <li class="main-skills-ul-li">WordPress</li>
      <li class="main-skills-ul-li">Bootstrap</li>
      <li class="main-skills-ul-li">Sass</li>
    </ul>
  </section>
</section>