<section class="main">
  <article class="main-about">
    <span class="main-about-span"></span>
    <h1 class="main-about-h1">.sobre</h1>
    <p class="main-about-p"><span>&nbsp;&nbsp;</span>Em formação na área de desenvolvimento FrontEnd que tanto me apaixonei, estudando com muito carinho 
      e dedicação para melhorar e sempre aprender mais sobre as tecnologias envolvidas. Como toda a base da interface da Web é voltada para HTML, 
      CSS e JavaScript, me possibilitando desenvolver muitas áreas de conhecimento e raciocínio lógico.
    </p>
  </article>

  <section class="main-skills">
    <ul class="main-skills-ul">
      <h2 class="main-skills-h2">.habilidades</h2>
      <li class="main-skills-ul-li"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>HTML;</li>
      <li class="main-skills-ul-li"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>CSS;</li>
      <li class="main-skills-ul-li"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>JavaScript;</li>
      <li class="main-skills-ul-li"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Angular;</li>
      <li class="main-skills-ul-li"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>WordPress;</li>
      <li class="main-skills-ul-li"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Bootstrap;</li>
      <li class="main-skills-ul-li"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Sass;</li>
    </ul>
  </section>
</section>