.main {
  display: flex;
  height: 100%;
  background-color: var(--first-color);
  color: var(--eighth-color);

  .main-about {
    margin: 20px;
    padding-right: 20px;
    width: 50%;
    border-right: 1px solid var(--ninth-color);
    counter-reset: p;

    &::after {
      font-size: 1.3rem;
      content: " }";
      color: var(--ninth-color);
    }


    .main-about-span {

      &::after {
        color: green;
        content: " <!-- Um pouco sobre mim -->";
        font-size: 1.3rem;
      }
    }


    .main-about-h1 {
      font-size: 1.3rem;
      margin: 10px 0 10px 0;
      color: var(--fifth-color);

      &::after {
        font-size: 1.3rem;
        content: " {";
        color: var(--ninth-color);
      }
    }

    .main-about-p {
      width: 60%;
      font-size: 1.3rem;
      text-align: justify;
      line-height: 1.5rem;

    }

    .main-about-p::before,
    .main-about-h1::before {
      counter-increment: p;
      content: counter(p) " ";
      color: var(--sixth-color);
    }
  }

  .main-skills {
    width: 50%;
    margin: 20px;

    .main-skills-h2 {
      margin: 0 0 10px 0;
      color: var(--fifth-color);

      &::after {
        font-size: 1.3rem;
        content: " {";
        color: var(--ninth-color);

      }
    }

    .main-skills-ul {
      counter-reset: li;
      font-size: 1.3rem;

      .main-skills-ul-li {
        margin-bottom: 7px;
      }

      &::after {
        font-size: 1.3rem;
        content: " }";
        color: var(--ninth-color);
      }

      .main-skills-ul-li::before,
      .main-skills-h2::before {
        counter-increment: li;
        content: counter(li) " ";
        color: var(--sixth-color);
      }

    }
  }
}