@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200&display=swap');

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: var(--first-color);
  color: var(--eighth-color);
  font-family: 'jetbrains mono';


  .main-about {
    width: 40%;
    margin: 50px 0;
    text-align: center;

    .main-about-h1 {
      font-size: 1.6rem;
      margin-bottom: 20px;

      .span-h1::after {
        content: ">"
      }

      &::before {
        content: "<";
      }

      &::after {
        content: "</h1>";
      }
    }

    .main-about-p {
      font-size: 1.2rem;
      text-align: start;
      line-height: 1.5rem;

      &::selection {
        background-color: var(--tenth-color);
      }

      &::before {
        content: "<p>";
      }

      &::after {
        content: "</p>";
      }
    }
  }

  .main-about-skills {
    display: flex;

    .main-about-skills-wrapper {
      font-size: 1.2rem;
      padding: 0 20px;

      &:nth-child(1) {
        border-right: 1px solid var(--ninth-color);
      }

      .main-about-h2 {
        margin-bottom: 15px;

        &::before {
          content: "<h2>";
        }

        &::after {
          content: "</h2>";
        }
      }

      .main-about-ul {
        margin: 0 15px;
        line-height: 1.4rem;
      }
    }
  }

  .btn-download-cv {
    margin-top: 25px;
    border: none;
    width: 269px;
    height: 60px;

    font-weight: bold;
    color: white;
    background: #C20606;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;

    &:active {
      scale: .99;
    }
  }
}