<section class="main">
  <article class="main-about">
    <h1 class="main-about-h1">Um pouco sobre mim</h1>
    <p class="main-about-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit voluptatum possimus
      molestias nesciunt
      optio veritatis aliquam assumenda pariatur accusantium! Vitae error id sapiente culpa, ratione quasi. Repudiandae
      necessitatibus doloribus quasi?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi impedit unde sed
      incidunt cupiditate atque eaque sit in neque repellat eos magni molestiae deserunt amet itaque magnam commodi
      consectetur dolor distinctio recusandae ratione, ad fugit! Possimus vel eum magnam praesentium dolor, sed quam
      eaque perspiciatis impedit autem inventore ipsa nisi!</p>
  </article>
  <section class="main-about-skills">
    <div class="main-about-skills-wrapper">
      <h2 class="main-about-h2">Hard Skills</h2>
      <ul class="main-about-ul">
        <li>HTML</li>
        <li>CSS</li>
        <li>JAVASCRIPT</li>
        <li>ANGULAR</li>
        <li>SCSS</li>
        <li>BOOTSTRAP</li>
        <li>WORDPRESS</li>
        <li>NODE</li>
      </ul>
    </div>
    <div class="main-about-skills-wrapper">
      <h2 class="main-about-h2">Skills</h2>
      <ul class="main-about-ul">
        <li>COMUNICAÇÃO</li>
        <li>TRABALHO EM EQUIPE</li>
        <li>COLABORATIVO</li>
        <li>RESILIENTE</li>
        <li>EMPATIA</li>
        <li>PROATIVO</li>
        <li>ATITUDE POSITIVA</li>
      </ul>
    </div>
  </section>
  <button class="btn-download-cv">DOWNLOAD CV</button>
</section>