@import "../../../../../dist/scss/variables.scss";

.aside-icon {
  display: flex;
  float: left;
  height: calc(100% + 31px);
  background-color: var(--third-color);

  .aside-icon-li {
    width: 100%;
    padding: 9px;
  }

  .active {
    background-color: var(--eleventh);
    border-left: 2px solid var(--fourth-color);
    box-sizing: border-box;
    padding-left: 7px;
  }
}