@import "../../../../../dist/scss/variables.scss";

.aside-icon{
  display: flex;
  float: left;
  height: $width;
  background-color: var(--third-color);
  padding: 0 5px;

  .aside-icon-li {
    padding: 10px 5px;
  }
}
