@import "../../../../../dist/scss/variables.scss";

.aside-icon {
  display: flex;
  float: left;
  height: 100%;
  background-color: var(--third-color);

  .aside-icon-li {
    width: 100%;
    padding: 9px;
  }

  .active {
    background-color: var(--eleventh);
    border-left: 2px solid var(--fourth-color);
    box-sizing: border-box;
    padding-left: 7px;
  }
}

@media (max-width: 1090px) {
  .aside-icon .aside-icon-li {
    width: 30px;
  }
}