<main class="main">
  <section class="main-section">
    <div class="main-section-div-h2">
      <h2>Minhas redes sóciais</h2>
    </div>
    <div class="main-section-social">
      <p class="main-section-social-p">.sociais<span class="social-span"></span></p>
      <p class="main-section-social-twitter">twitter: <a class="main-section-social-a" href="https://twitter.com/Bruno_Passos_">Bruno_Passos_</a>;</p>
      <p class="main-section-social-linkedin">linkedin: <a class="main-section-social-a" href="https://www.linkedin.com/in/bruno-passos-323b501b4/">bruno-passos-323b501b4</a>;</p>
      <p class="main-section-social-github">github: <a class="main-section-social-a" href="https://github.com/darimus">Bruno Passos</a>;</p>
      <p class="main-section-social-email">email: <a class="main-section-social-a" href="mailto:bruno.passos@outlook.com.br">bruno.passos@outlook.com.br</a>;</p>
      <p class="main-section-social-span"><span class="social-span"></span></p>
    </div>
  </section>
  <section class="main-section">
    <div class="main-section-div-h2">
      <h2>Entre em contato</h2>
    </div>
    <div class="main-section-contact">
      <form class="main-section-contact-form" action="">
        <div class="wrapper-form-nome">
          <div class="wrapper-form-nome-label">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome">
          </div>    
          <div class="wrapper-form-nome-label">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
          </div>  
        </div>
        <div class="wrapper-form-subject">
          <label for="subject">Assunto </label>
          <input type="text" id="subject" name="subject">
        </div>
        <div class="wrapper-form-mensagem">
          <label for="mensagem">Mensagem</label>
          <textarea type="text" id="mensagem" name="mensagem" rows="7"></textarea>
        </div>
        <button class="btn-submit" type="submit">Enviar</button>
      </form>
    </div>
  </section>
</main>