/* You can add global styles to this file, and also import other style files */
@import './dist/scss/reset.scss';
@import './dist/scss/variables.scss';
@import './dist/scss/scrollbar.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

//Font Family Global
body {
	font-family: "Source Sans Pro";
}

html,
body,
app-root {
	height: 100%;
	width: 100%;
	margin: 0;
	display: block;
}